{% extends 'base.html.twig' %}

{% block title %}New Tienda{% endblock %}

{% block body %}
    <h1>Create new Tienda</h1>

    {{ include('tienda/_form.html.twig') }}

    <a href="{{ path('tienda_index') }}">back to list</a>
{% endblock %}
